/* GENERAL STYLES */
html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* LOG0 SECTION */
.logo {
  background-color: black;
  padding: 0.66rem 0;
  /*position: fixed;
  z-index: 1;*/
  }

.logo .container {
  display: flex;
  align-items: center;

}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-left: 1rem;
}

.logo p{
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 1rem;

}

/* BANNER SECTION */

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heading {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 160px;


  }

.heading h1, .heading h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.heading h1 {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  line-height: 2.5rem;
  /*margin-bottom: 0.25rem;*/
  }

.heading h3 {
  padding-top: 1rem;

  /*margin-bottom: 0.25rem;*/

}

/*NAV SECTION*/
nav {
  background-color: firebrick;
}

nav .container ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;

}

nav ul .menu {
  display: none;
}

/*PRODUCT SECTION*/

.product {
  display: flex;
  justify-content: space-between;
}

figure {
  border: 4px solid black;
  width: 30%;
  height: auto;
  margin-top: 3rem;

  }

figure img {
  width: 9rem;
  height: 9rem;
  padding: 2rem;

}

figcaption {
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}

  /* LOCATION AND HOURS INFORMATION SECTION */
.information {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.information-box {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
  width: 15rem;
}

.location, .hours {
  margin-bottom: 4rem;
}

.info-text {
  color: black;
  padding-top: 0.3rem;
}

/*FOOTER SECTION*/

footer {
  background-color: black;
  height: 5rem;
}

footer  {
  display: flex;
  align-items: center;
}

/*MEDIA QUERIES STYLES*/

@media only screen and (max-width: 1024px) {
nav ul li{
  display: none;
}

nav ul .menu {
  display: list-item;
  padding-top: 0.35rem;
   padding-bottom: 0.35rem;
   margin: auto;
   font-size: 1.2rem;
}


.invisible-item b{
  display: none;
}

  figure .img, figure figcaption {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {

.invisible-item b, .invisible-item a {
  display: none;
}

figure {
  width: 90%;
}
}

}
